.header {
  float: left;
}

.add_button {
  margin-top: 20px;
  margin-bottom: 10px;
}
.control-group{
  margin: 15px 5%;
}

.control-group label {
  margin-right: 10px;
  width: 33%
}
.form-horizontal .control-label {
  padding-top: 4px;
}
h3{
 margin: 5px 5%;
}
.ngdialog.ngdialog-theme-default .ngdialog-content{
  width: 500px;
}

table td button {
  margin: 0px 5px;
}

.btn-custom{
  padding: 3px 10px;
  margin-top: 3px;
}